/* **************** */
/*  HEADER SECTION  */
/* **************** */
#header{
    position: sticky;
    top: 0;
    padding-top: 10px;
    background-color: var(--page-bg);
    box-shadow: 0px 1px 9px -8px #7a7a7a;
    z-index: 1000;
}

header a{
    display: block;
    background-color: none;
    text-decoration: none;
}

header a:hover,
header a:focus{
    background-color: none;
}

/*Logo*/
header img{
    width: 40px;
    height: 40px;
}

header h2{
    font-family: var(--font4-1);
    color: var(--color4);
    font-size: 1.0em;
    text-transform: uppercase;
    margin: 0;
    margin-top: 20px; 
    padding-left: 5px;
    /* align-self: center; */
}
#header span{
    color: var(--color3);
}

#header nav{
    /* align-self: end; */
    position: relative;
    padding-top: 1em;
}

#header ul{
    margin:0;
    list-style: none;
}
#header li{
    margin-left: 0 2px;
    flex-shrink: 1;
    flex-basis: auto;
    
}

#header li>a{
    position: relative;
    display: block;
    padding: 5px 0.8em 0 0.8em;
    /* background-color: aquamarine; */
    margin: 0 10px;
    font-weight: bold;
    color: var(--color4);
    text-decoration: none;
    /* text-transform: uppercase; */
    
}

#header li>a:hover,
#header li>a:focus{
    color: var(--color3);
}

#header li>a:before{
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    background-color: var(--color3);
    width: 0;
    transition: 0.35s ease-in;
    opacity: 0;
}
#header li>a:hover::before{
    width: 75%;
    opacity: 1;
}

/*Aktive Menüpunkt kennzeichnung */
#header .active,
#header .active:hover,
#header .active:focus{
    color:var(--color3);
}

#container p, 
#container address,
#container h1,
#container h2,
#container .formContent div{
    padding: 0 20px;
}
#container blockquote{
    font-style: italic;
}
#container address{
    text-align: center;
}
article{
    position: relative;
    height: fit-content;
}

/* **************** */
/*   HERO SECTION   */
/* **************** */
#hero>.heroIntro{
    position: relative;
    margin: 0 auto;
    
}

#hero>.heroIntro>img{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height:auto;
    opacity: 0.2;
}

#hero .heroIntroContent{
    position: absolute;
    top: 25%;
    width: 100%;

}

.heroIntroContent h1,.heroIntroContent h3{
    text-align: center;
}
.heroIntroContent p{
    text-align: center;
   
}



#hero ul{
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}
#hero ul>li{
    width: 4em;
}
#hero li>img{
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
}
#hero li>p{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 0.8em;
}

section.howIt{
    position: relative;
    padding-top: 200px;
}


/* **************** */
/*      Footer      */
/* **************** */
footer{
    background: var(--color4);
    margin-top: 200px;
    position: relative;
    bottom: 0;
}

footer h3{
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0;
    color: var(--color3);
}

footer .socials{
    --pad-r:1em;
    --pad-l:1em;
    padding: 1em var(--pad-r) 1em var(--pad-l);
    height: 80px;
    justify-content: space-around;
    margin: 0 auto;
}
.socials>*{
    width: 3em;
}
.socials img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.socials a:hover img{
    opacity: 1;
}
.socials .meetups img{
    border-radius: 20px;
}

.copyright-impressum{
    color: var(--color2);
    opacity: 0.8;
    font-weight: 500;
    width: var(--col);
}

.copyright-impressum .copyright,
.copyright-impressum .impressum{
    text-align: center;
}

.copyright-impressum .impressum a{
    padding-bottom: 10px;
}

.card{
    border: 1px solid rgb(243, 243, 243);
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 8px 5px rgb(231, 231, 231);
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;
}
.card li{
    margin-bottom: 0.8em;
}


/* **************** */
/*   Page about us  */
/* **************** */
article.about,
div.impressum-block,
div.events{
    margin-top: 100px;
}
article.about>figure{
    width: 250px;
    margin: 0 auto;
}
article.about>figure img{
    width: 100%;
    height: auto;
}

article.about>ul>li{
    margin-bottom: 10px;
}

/* **************** */
/*   Page Events    */
/* **************** */
/* div.events{

} */

/* **************** */
/*  Page Activities */
/* **************** */


/* **************** */
/*  Page Contact    */
/* **************** */
.formContent input[type="text"],
.formContent input[type="email"],
.formContent textarea{
    font-size: 1em;
    font-family: var(--page-text-font);
}
.formContent textarea{
    display: block;
    width: 250px;
    height: 150px;
}

.formContent .contactButton{
    width: 50%;
    margin: 20px auto;
}
.formContent .contactButton input{
    height: 40px;
    width: 150px;
    font-size: 1em;
    font-family: var(--page-text-font);
    cursor: pointer;
}
.formContent .contactButton input:hover{
    color: var(--color3);
    border-color: var(--color3);
    outline-color: var(--color3);
}

@media screen and (max-width:60em) {
    footer .socials{
        --pad-l:0;
        --pad-r:0;
        --col:100%;
      }  
      #hero>.heroIntro{
        --col:100%;
      }
     
}
@media screen and (max-width: 30em) {

}